<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>971412583243-vhva6ah7jsrj0rap10jtlp20s91enai5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971412583243-vhva6ah7jsrj0rap10jtlp20s91enai5</string>
	<key>API_KEY</key>
	<string>AIzaSyCsaLpoldsGNggQD_BpMoIlB0zMDl4AewY</string>
	<key>GCM_SENDER_ID</key>
	<string>971412583243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>danielfratila.AuctionApp</string>
	<key>PROJECT_ID</key>
	<string>actionapp-9e7a8</string>
	<key>STORAGE_BUCKET</key>
	<string>actionapp-9e7a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971412583243:ios:62d24cef573f1e34</string>
	<key>DATABASE_URL</key>
	<string>https://actionapp-9e7a8.firebaseio.com</string>
</dict>
</plist>